.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

*.user
*.Tpo
*.suo
*.db
*.iobj
*.obj
*.ipch
*.pch
*.ipdb
*.pdb
*.log
*.ilk
*.idb
*.tlog
*.opendb
*.db-shm
*.db-wal

*.~*
*.*~
Makefile~

*.o

*.exe
tv
radio
demo
nano
gears
